<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<p>Prezado Usu&aacute;rio,</p>
<p>Bem vindo ao sistema  GEDEasy.<br />
  Para acessar o sistema &eacute;  necess&aacute;rio que defina uma senha atrav&eacute;s do link:<br />
  <a href="${urlSenha}">${urlSenha}</a></p>
<p>Atenciosamente<br />
  GEDEasy</p>
<p>N&Atilde;O RESPONDA ESTA MENSAGEM<br />
  Este e-mail &eacute; gerado  automaticamente.</p>
</body>
</html>