
<div id="panel-1064" class="x-panel x-panel-default" role="presentation"
	aria-labelledby="component-1197" style="height: 70px; width: 700px;">
	<div id="header-1196"
		class="x-panel-header x-panel-header-default x-horizontal x-panel-header-horizontal x-panel-header-default-horizontal x-top x-panel-header-top x-panel-header-default-top x-unselectable x-docked x-docked-top x-panel-header-docked-top x-panel-header-default-docked-top"
		role="presentation" style="width: 700px; left: 0px; top: 0px;">
		<div
			class="x-panel-header-body x-panel-header-body-default x-panel-header-body-horizontal x-panel-header-body-default-horizontal x-panel-header-body-top x-panel-header-body-default-top x-panel-header-body-docked-top x-panel-header-body-default-docked-top x-box-layout-ct"
			id="ext-gen1296">
			<div class="x-box-inner" role="presentation" id="ext-gen1298"
				style="width: 689px; height: 15px;">
				<div id="component-1197"
					class="x-component x-component-default x-box-item" role="heading"
					style="margin: 0px; left: 0px; top: 0px;">
					<span class="x-panel-header-text x-panel-header-text-default"
						id="ext-gen1299">Spanning All Columns</span>
				</div>
				<div id="component-1198"
					class="x-component x-component-default x-box-item"
					role="presentation"
					style="margin: 0px; width: 569px; height: 15px; left: 120px; top: 0px;">&nbsp;</div>
			</div>
		</div>
	</div>
	<div class="x-panel-body x-panel-body-default"
		style="padding: 15px 20px; left: 0px; top: 25px;" id="ext-gen1275">
		<p id="ext-gen1329">Spanning all columns.</p>
	</div>
</div>