
@CHARSET "ISO-8859-1";

*#principal{
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-260px;
    margin-top:-135px;
    width: 250px;
    height: 350px;
    border: 2px solid #026736;
    padding: 10px;
    text-align: left;
    font-family: calibri;
    font-size: 13px;
    border-radius: 05px;
}

#msg1 
 {
    float: left;
    padding: 10px;
    font-family: Cambria;
    font-size: 24px;
    
    color:#222222
    text-align: left;
 }
 #msg2 
 {
    float: left;
    padding: 10px;
    font-family: calibri;
    color: #026736;
    font-size: 15px;
    text-align: left;
 }
 
 .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Arial,sans-serif;
    font-size: 1em;
    color: #026736;
}

.ui-widget-content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #A8A8A8;
    color: #006433;
    padding: 20px;
    
}

.ui-layout-pane-south {
    border: 0;
}